<h2>Burger list</h2>

  <!-- Bootstrap list group - basic example -->
  <ul class="list-group">
    {{#each burgers}}
        <li class="list-group-item">{{id}}  {{burger_name }}</li>
    {{/each}}
  </ul>