<h2>Burger list</h2>

  <!-- Bootstrap list group - basic example -->
  <ul class="list-group">
    {{#each burgers}}
      {{#unless devoured}}
    {{!-- <div class="col-md-6 burgerName" --}}
      {{!-- <div class="col-md-4 "> --}}
        <li>
          <button type="button" class="col-md-5 btn btn-warning">
            {{id}} {{burger_name}}
          </button>
        
           
            <button type="button" class="btn btn-warning btn-sm">Devour it!!</button>
          </li>
        {{/unless}}
      {{!-- </div> --}}
      {{!-- <div class="col-md-2 devourBtn"> --}}
        {{!-- <button type="button" class="btn btn-warning btn-sm">Devour it!!</button> --}}
      {{!-- </div> --}}
        
    {{/each}}
  </ul>

