html, body {
    height: 100%;
}

main {
    background-color: #fc6;
    display: :block;
}

img {
    margin-top: 20px;
}

.image{
justify-content: center;
}

h1 {
    margin-top: 5px;
    padding: 20px;
    font-size: 40px; 
    text-align: center;
    color: red;
    font-family: inherit; 
}

.list-group {
    color: brown;
    font-size: 20px;
}

li {
    margin: 2px;
}

ul {
    list-style: none;
}

#burgerBtn {
    font-size: 1.125rem;
    background-color: #ffc107;
    border: none;
    display: inline-block;
    padding: .375rem .75rem;
    width: 15rem;
}

.button {
    vertical-align: none;
}