 <li >
    <button id="burgerBtn" type="button">{{id}} {{burger_name}} </button>
    <button type="button" class="btn btn-warning btn-sm devourBtn" 
    data-id="{{id}}" data-burgergone="{{eating}}">Devour it!!</button>
</li>